
{# TODO: define beautiful action snippets #}
{# https://stackoverflow.com/questions/8624520/passing-a-variable-into-a-jinja-import-or-include-from-a-parent-html-file #}

<div class="card-header">
    <h4 class="my-0 font-weight-normal"> Maßnahme 2 </h4>
</div>
<div class="card-body">

    {{ app.action2.description }}

    {% if app.guess != None %}
        <h1 class="card-title">
        {{ app.action2.savings }}
        <small>kg CO2 äquiv./Jahr</small></h1>

        <small>Quelle: <a href="{{ app.action2.reference }}">{{ app.action2.reference }}</a></small>
    {% endif %}

{% if app.guess == None %}
    <br/>
    <a href="{{ url_for("guess_right") }}" class="btn btn-lg btn-block btn-primary" role="button">Wählen!</a>
{%  endif %}
</div>

