
{# TODO: define beautiful action snippets #}
{# https://stackoverflow.com/questions/8624520/passing-a-variable-into-a-jinja-import-or-include-from-a-parent-html-file #}

<div class="panel industry-tile-medium">
    <div class="panel-body">
        <header> Maßnahme 1 </header>
        {% if app.guess == None %}
            <div>{{ app.action1.description }}</div>
        {% else %}
            {% if app.guess == app.action1 and app.action1 >= app.action2 %}
                <div class="bg-success">
                {{ app.action1.description }}<br/>
                <span class="ui-state-highlight">{{ app.action1.savings }}</span><br/>
                Quelle: {{ app.action1.reference }}
                </div>
            {%  elif app.guess == app.action1 and app.action1 <= app.action2%}
                <div class="bg-danger">
                {{ app.action1.description }}<br/>
                <span class="ui-state-highlight">{{ app.action1.savings }}</span><br/>
                Quelle: {{ app.action1.reference }}
                </div>
            {% elif app.guess == app.action2 and app.guess == app.correct %}
                <div class="bg-warning">
                {{ app.action1.description }}<br/>
                <span class="ui-state-highlight">{{ app.action1.savings }}</span><br/>
                Quelle: {{ app.action1.reference }}
                </div>
            {% else %}
                <div class="bg-info">
                {{ app.action1.description }}<br/>
                <span class="ui-state-highlight">{{ app.action1.savings }}</span><br/>
                Quelle: {{ app.action1.reference }}
                </div>
            {% endif %}
        {%  endif %}
    </div>

{% if app.guess == None %}
    <div class="panel-footer">
    <a href="{{ url_for("guess_left") }}" class="btn btn-default" role="button">Wählen!</a>
{%  else %}
    <a href="{{ url_for("index") }}" class="btn btn-default" role="button">Nochmal!</a>
{%  endif %}
    </div>
</div>


