
{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{#{% block styles %}#}
{#{{super()}}#}
{#<style type="text/css">#}
{#   body {#}
{#       background-image: linear-gradient(80deg, #4c4646 20%, rgba(118, 101, 101, 0.64) 100%);#}
{#   } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */#}
{#</style>#}
{#{% endblock %}#}

{% block title %}
    {% if title %}{{ title }}{% else %}Co2 for you{% endif %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for("index") }}">WasIstBesser?</a>
            </div>
            <div class="nav navbar-nav">
                <a class="navbar-default" href="{{ url_for("index") }}">Home</a> |
                <a class="navbar-default" href="{{ url_for("actions") }}">Liste aller Maßnahmen</a> |
                <a class="navbar-default" href="{{ url_for("submit") }}">Neue Maßnahme eingeben</a>
            </div>
        </div>
    </nav>
{% endblock %}


{% block content %}

    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}


        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{%  block footer %}
    <div class="footer">(c) Simon Schneider</div>
{%  endblock %}