
{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{super()}}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/sketchy/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/pricing/pricing.css" rel="stylesheet">
{% endblock %}

{% block title %}
    {% if title %}{{ title }}{% else %}Co2 for you{% endif %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for("index") }}">WasIstBesser?</a>
            </div>
            <div id="navbarColor03" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li><a class="nav-link" href="{{ url_for("index") }}">Home</a> </li>
                    <li><a class="nav-link" href="{{ url_for("actions") }}">Liste aller Maßnahmen</a> </li>
                    <li><a class="nav-link" href="{{ url_for("submit") }}">Neue Maßnahme eingeben</a> </li>
                </ul>
            </div>
    </nav>
{% endblock %}


{% block content %}

    <div class="container">
                {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}

{%  block footer %}
    <div class="footer">(c) Simon Schneider</div>
{%  endblock %}