{%  extends "base.html" %}

{% block app_content %}

<div class="jumbotron text-center">
	<h1>Was ist besser?</h1>
</div>
<div class="text-center">
	<p>
		<a href="{{ url_for("index") }}" class="btn btn-primary btn-lg" role="button">tl;dr!</a>
	</p>
	<p>Was ist besser? Auf Plastiksackerl zu verzichten oder auf Extrawurst?
Auf Avocados aus Chile oder Turnschuhe aus Indonesien?</p>
	<h2 id="co2-effektive-und-klima-fitte-lebensweise">CO2 effektive und "klima-fitte" Lebensweise</h2>
	<p>Die Wissenschaft weiß, wieviel CO2 jede und jeder durchschnittlich verbrauchen darf: EINE TONNE Co2 Äquivalente pro Jahr.
Einfach zu merken. Was nicht ganz so einfach zu merken ist:
		<a href="https://www.mein-fussabdruck.at/">Wieviel man derzeit selber verursacht</a>.
Und im Schlimmsten: Was ist jetz wie wichtig?
	</p>
	<p>
		<img src="/static/img/Folie2.PNG" title="Von 13 (davon 9 produzierten und 3 konsumierten) auf 1 Tonne Co2 pro Jahr. Das ist das Ziel für alle von uns." >
	</p>
	<p>Christoph Drexel hat dazu eine Reihe von ausgezeichneten Büchern geschrieben:
		<a target="_blank" href="https://www.zwei-grad-eine-tonne.at/home-1">
			<em>Zwei Grad. Eine Tonne.</em>
		</a> bringt es auf den Punkt:
Wenn wir die globale Erderwärmung gegenüber vorindustriellen Zeiten auf 2°C begrenzen wollen - einem
bekannten
		<a  target="_blank"  href="https://de.wikipedia.org/wiki/Kippelemente_im_Erdklimasystem">Tipping Point</a> des Weltklimas - dann.
Ja dann dürfen wir jede und jeder nur eine Tonne erwärmendes CO2 pro Jahr verursachen. 2 Grad. 1 Tonne. In seinem kürzlich erschienenen Buch
		<a href="https://www.gu.de/produkte/koerper-geist-seele/ganzheitlich-leben/warum-meerschweinchen-das-klima-retten-drexel-2019/">
			<em>&quot;Warum Meerschweinchen das Klima retten&quot;</em>
		</a>
schafft er es gemeinsam mit der Informationsdesignerin
		<a target="_blank" href="https://www.lisaborgenheimer.com/">Lisa Borgenheimer</a>, die
Frage für die Leserin selbst beantwortbar zu machen:
	</p>
	<h3 id="wos-woar-mei-co2-leistung-">Wos woar mei CO2-Leistung?</h3>
	<p>
		<img src="/static/img/Folie4.PNG" title="Kategorien der persönlichen Co2 Emissionen">
		</p>
		<p>Es gibt viele gute
			<a target="_blank" href="https://www.greenpeace.de/themen/klimawandel/klimaschutz/die-zehn-wichtigsten-tipps-was-sie-fuer-das-klima-tun-koennen">Top-10-Hitlists der effektivsten CO2 Maßnahmen</a>
, und wir sollten Sie alle auswendig kennen. Aber spätestens nach der
			<a target="_blank" href="https://www.geo.de/natur/nachhaltigkeit/17010-rtkl-co2-bilanz-verbessern-nachhaltig-leben-ein-tipp-fuer-jeden-raum-im">zweiten Liste</a>
hab zumindest ich den Überblick verloren. Was ist jetz nochmal das allerwichtigste? Wars das Fleisch, oder die Flüge?
Wieviele Steaks sind ein Flug?
		</p>
		<p>Es ist schwierig, hier den Überblick zu behalten und gute Entscheidungen zu treffen. Aber das darf es nicht sein.
Ich glaube es ist wichtig, die relativen Größenordnungen zumindest zu kennen. Das gehört heute genauso zum Grundrepertoire, wie dass
man weiß, dass man von Wien nach Salzburg ca. 3 mal so lang braucht, wie nach St. Pölten. Oder dass ein Lebensmittel in Bio ca. 50-100% mehr kostet. Aber nicht 10 mal soviel. Daher: </p>
		<a href="{{ url_for("index") }}" class="btn btn-primary btn-lg" role="button">Hier gehts zur Antwort:
			<br/> Was ist besser?
		</a>
	</div>



{%  endblock %}