{%  extends "base.html" %}

{% block app_content %}
    <div class="jumbotron">
        <h1>Was ist besser?</h1>
    </div>
    {% if action1 and action2 %}
        <div class="container">
          <div class="row">
            <div class="col-sm-5">
                {{ action1.name }} <br/>
                {{ action1.description }}<br/>
                {{ action1.savings }}
            </div>
              <div class="col-sm-2">
              {# TODO: Styling both winning and loosing action #}
                 oder
            </div>
            <div class="col-sm-5">
                 {{ action2.name }}<br/>
                 {{ action2.description }}<br/>
                 {{ action2.savings }}
            </div>
          </div>
        </div>
              {# TODO: Add graph and logging #}

        <a href="{{ url_for("index") }}">Noch eins...</a>

    {% else %}
        <h1> action1 or action2 missing!</h1>
    {% endif %}
{%  endblock %}